*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(footsteps.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: rgba(0, 0, 0, 0.5)
}

.mainNav{
    float: right;
    list-style: none;
    margin-top: 30px;
}


.mainNav li{
    display: inline-block;
}
.mainNav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}



.mainNav li a:hover{
border: 1px solid white;
}


/* logo{
    background-image: url(cheetahlogo.jpg);
    float: left;
} */