*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(footsteps.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: rgba(0, 0, 0, 0.5)
}

#mainNav{
    float: right;
    list-style: none;
    margin-top: 30px;
}


#mainNav li{
    display: inline-block;
}
#mainNav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#mainNav li a:hover{
border: 1px solid white;
}

#mainNav li.active a{
    border: 1px solid white; 
}

#logo{
    float: left;
    color: white;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.row{
    max-width: 1200px;
    margin: auto;
}

#message{
    font-family:"Papyrus", serif;
    /* font-family: "Brushstroke", fantasy; */
    
    position:absolute;
    width: 1200px;
    margin-left: 150px;
    color:white;
    font-size: 34px;
    text-align: left;
    margin-top: 220px;
}
#subMessage{
    font-size: 18px;
    margin-left: 50px;
    /* max-width: 320px; */
}
 #buttons{
    margin-left: 200px;
    margin-top: 20px

 }

.btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    fill: none;
    background-color:rgba(255, 255, 255, 0);
    color: aliceblue;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
}

.btn:hover{
    background-color: rgba(20, 19, 19, 0.589);
    color:gainsboro;
    transition:  all 0.2s ease-in;
}



/* ABOUT US page styling below */

.header.other{
    max-height: 100px;
}

#person1photo{
    max-width: 400px;
    max-height: 400px;
}
.person1photo{
    float: right;
    margin-left: 50px;
}

#para{
    float: left;
    /* margin-left: px; */
    /* margin-right: 400px; */
    color: rgb(24, 24, 24);
}
.aboutContent{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px;
}