*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(footsteps.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: rgba(0, 0, 0, 0.5);
}

#mainNav{
    float: right;
    list-style: none;
    margin-top: 30px;
}


#mainNav li{
    display: inline-block;
}
#mainNav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#mainNav li a:hover{
border: 1px solid white;
}

#mainNav li.active a{
    border: 1px solid white; 
}

#logo{
    float: left;
    color: white;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 20px;
}

.row{
    max-width: 1200px;
    margin: auto;
}

#message{
    font-family:"Papyrus", serif;
    /* font-family: "Brushstroke", fantasy; */
    
    position:absolute;
    width: 1200px;
    margin-left: 150px;
    color:white;
    font-size: 34px;
    text-align: left;
    margin-top: 220px;
}
#subMessage{
    font-size: 18px;
    margin-left: 50px;
    /* max-width: 320px; */
}
 #buttons{
    margin-left: 200px;
    margin-top: 20px

 }

.btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    fill: none;
    background-color:rgba(255, 255, 255, 0);
    color: aliceblue;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
}

.btn:hover{
    background-color: rgba(20, 19, 19, 0.589);
    color:gainsboro;
    transition:  all 0.2s ease-in;
}



/* ABOUT US page styling below */

.header.other{
    max-height: 100px;
}

.pic{
    max-width: 400px;
    max-height: 400px;
    float: right;
    margin-left: 50px;
}
.credit{
    float: right;
    margin-top: 2px;
    padding-bottom: 20px;
}

.aboutPara{
    float: left;
    margin-left: 280px;
    margin-top: 80px;
    /* margin-right: 400px; */
    max-width: 600px;
    color: rgb(24, 24, 24);
}
#para{
    padding-top:30px;
}

.aboutContent{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px;
}



/* Contact page styling */
.contactContent{
    /* TRANSITION NOT WORKING!! */
    transition: all 4s ease-in; 
    position: absolute;
    margin-top: 100px;
    margin-left: 400px;
    width:500px;
    height: 575px;
    font-family:'Papyrus', sans-serif;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.678);
}

.contactContent h1{
    /* position: absolute; */
    
    font-size: 45px;
    margin-left: 60px;
    margin-top: 35px;
}
.contactContent h2{
    margin-left: 100px;
    margin-top: 20px;
}

form{
    padding:20px;
    width: 300px;
}
.formControl{
    height:30px;
    width: 440px;
    margin-top: 20px;
    font-family: 'Papyrus', sans-serif;
    font-size: 15px;
    padding:5px;

}

.formControl.message{
    height:130px;
    padding-top:10px;
}

.formControl.submit{
    float: right;
    margin-right: 40px;
    width: 100px;
    font-size: 20px;
    height:45px;
    margin-bottom: 20px;
    font-family: "Papyrus", sans-serif;
    font-weight: bold;
    background-color:rgb(224, 214, 201);
    color: black;
}
.formControl.submit:hover{
    background-color: rgb(0, 190, 117);
    color: black;
}